@page "/courses"
@attribute [StreamRendering]
@attribute [Authorize]

<PageTitle>Courses</PageTitle>

<section class="courses">
    <div class="container">
        <div class="action-buttons">
            <i class="fa-solid fa-house"></i>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <i class="fa-solid fa-angles-right"></i>
            <a asp-action="Course" asp-controller="Courses">Courses</a>
        </div>
        <div class="header-courses">
            <div class="header-left">
                <h1>Courses</h1>
            </div>
            <div class="header-right">
                <form>
                    <div class="select">
                        <div class="selected">All Categories<i class="arrow-down fas fa-chevron-down"></i></div>
                        <div class="select-options">
                            <div class="option" data-value="all">All Categories</div>
                            <div class="option" data-value="all">HTML</div>
                        </div>
                    </div>

                    <div class="input-search-group">
                        <input id="searchQuery" name="searchQuery" placeholder="Search Courses" />
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                </form>
            </div>
        </div>
        <div class="courses-square">
            @if (courses != null)
            {
                foreach (var course in courses)
                {
                    <div class="grid-item">
                        @if (course.IsBestSeller)
                        {
                            <div class="text-top">Best Seller</div>
                        }
                        <a class="button-top" data-courseid="@course.Id" data-bs-toggle="tooltip" data-bs-title="Save Course"><i class="fa-regular fa-bookmark"></i></a>
                        <img src="@course.ImageUrl" alt="Image of @course.Title">
                        <a asp-controller="Courses" asp-action="CourseDetails" asp-route-id="@course.Id">
                            <div class="text-info">
                                <h5>@course.Title</h5>
                                <p class="creator">By @course.Author</p>
                                @if (!string.IsNullOrEmpty(course.DiscountPrice) && course.DiscountPrice != "0")
                                {
                                    <p class="price discount">$@course.DiscountPrice <del>$@course.Price</del></p>
                                }
                                else
                                {
                                    <p class="price">$@course.Price</p>
                                }
                                <div class="clock">
                                    <i class="fa-regular fa-clock"></i>
                                    <p>@course.Hours hours</p>
                                    <div class="thumbs-up">
                                        <i class="fa-regular fa-thumbs-up"></i>
                                        <p>@course.LikesInProcent% (@course.LikesInNumbers)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <div>No courses found!</div>
            }
        </div>
        <div class="pagination">
            <a class="number" href="/courses">1</a>
            <a class="number active" href="/courses">2</a>
            <a class="number" href="/courses">3</a>
        </div>
    </div>
</section>

@code {
    private CourseModel[]? courses;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            courses = await Http.GetFromJsonAsync<CourseModel[]>(Environment.GetEnvironmentVariable("Courses_APIURI"));
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private class CourseModel
    {
        public int Id { get; set; }

        public string Title { get; set; } = null!;

        public string? Price { get; set; }

        public string? DiscountPrice { get; set; }

        public string? Hours { get; set; }

        public bool IsBestSeller { get; set; } = false;

        public string? LikesInNumbers { get; set; }

        public string? LikesInProcent { get; set; }

        public string? Author { get; set; }

        public string? ImageUrl { get; set; }
    }
}
