@page "/courses/{CourseId}"

@attribute [Authorize]

<PageTitle>@course?.Title</PageTitle>

@if (course == null)
{
    <p>Loading...</p>
}
else
{
    <section class="singlecourseshowcase">
        @if (course != null)
        {
            <img class="course-img" src="@course.ImageHeaderUri" alt="@course.Title">
            <div class="container">
                <div class="header-singlecourse">
                    <div class="action-buttons">
                        <i class="fa-solid fa-house"></i>
                        <a href="/">Home</a>
                        <i class="fa-solid fa-angles-right"></i>
                        <a class="a-courses" href="/courses">Courses</a>
                        <i class="fa-solid fa-angles-right"></i>
                        <a class="a-developer">@course.Title</a>
                    </div>
                    <div class="seller-square">
                        @if (course.IsBestseller)
                        {
                            <div class="green-box"><p>Best Seller</p></div>
                        }
                        @if (course.IsDigital)
                        {
                            <div class="white-box"><p>Digital</p></div>
                        }
                    </div>
                    <div class="text-header">
                        <h1>@course.Title</h1>
                        <p>@course.Ingress</p>
                    </div>
                    <div class="rating">
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <p>@course.Reviews</p>
                        </div>
                        <div class="rating-thumb">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>@course.Likes</p>
                        </div>
                        <div class="rating-clock">
                            <i class="fa-regular fa-clock"></i>
                            <p>@course.Hours hours</p>
                        </div>
                    </div>
                    <div class="img-text">
                        <img src="/images/roundimage.svg" alt="picture of albert flores">
                        <div class="image-text-header">
                            <p class="bold-p">Created by</p>
                            <p class="p-normal">@string.Join(", ", course.Authors!.Select(a => a.Name))</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
    <section class="description-course">
        <div class="container">
            <div class="description-header">
                <div class="singlecourse-header">
                    <h1>Course Description</h1>
                    <div class="description-p">
                        <p>@course?.Content?.Description</p>
                    </div>
                    <div class="learn-what">
                        <h2>What you'll learn</h2>
                        @if (course?.Content?.Learn != null)
                        {
                            @foreach (var learn in course!.Content.Learn)
                            {
                                <span class="checked-info"><i class="fa-regular fa-circle-check"></i><p>@learn</p></span>
                            }
                        }
                    </div>
                </div>
                <div class="singlecourse-box">
                    <h4>This course includes:</h4>
                    @if (course?.Content?.Includes != null)
                    {
                        @foreach (var include in course.Content.Includes)
                        {
                            <span class="course-include"><i class="fa-solid fa-check"></i><p>@include</p></span>
                        }
                    }
                    <div class="price-box">
                        @if (course?.Prices?.Discount > 0)
                        {
                            <p class="price discount">@course.Prices.Currency@course.Prices.Discount <del>$@course.Prices.Price</del></p>
                        }
                        else
                        {
                            <p class="price">@course?.Prices?.Currency@course?.Prices?.Price</p>
                        }
                    </div>
                    <button class="btn-theme-s" href="#">Join course</button>
                </div>
            </div>
        </div>
    </section>
    <section class="program-details">
        <div class="container">
            <h1>Program Details</h1>
            @if (course?.Content?.ProgramDetails != null)
            {
                @foreach (var programdetail in course.Content.ProgramDetails)
                {
                    <div class="number">
                        <div class="circle"><p>@programdetail.Id</p></div>
                        <div class="square-text-details">
                            <div class="circle-text">
                                <h4>@programdetail.Title</h4>
                                <p>@programdetail.Description</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
}



@code {
    private CourseCardModel? course;

    [Parameter]
    public string? CourseId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(CourseId))
        {
            return;
        }

        var query = new GraphQLQuery
            {
                Query = @"
                query ($id: String!) {
                getCourseById(id: $id) {
                    id
                    title
                    imageUri
                    imageHeaderUri
                    isBestseller
                    isDigital
                    categories
                    ingress
                    starRating
                    reviews
                    likesInProcent
                    likes
                    hours
                    authors {
                        name
                    }
                    prices {
                        currency
                        price
                        discount
                    }
                    content {
                        description
                        includes
                        learn
                        programDetails {
                            id
                            title
                            description
                        }
                    }
                }
            }",
                Variables = new { id = CourseId }
            };

        var response = await Http.PostAsJsonAsync("http://localhost:7081/api/graphql", query);
        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<DynamicGraphQLResponse>();
            if (result?.Data.TryGetProperty("getCourseById", out var courseJson) == true)
            {
                course = new CourseCardModel
                    {
                        Id = courseJson.GetProperty("id").GetString()!,
                        Title = courseJson.GetProperty("title").GetString()!,
                        ImageUri = courseJson.GetProperty("imageUri").GetString(),
                        ImageHeaderUri = courseJson.GetProperty("imageHeaderUri").GetString(),
                        IsBestseller = courseJson.GetProperty("isBestseller").GetBoolean(),
                        IsDigital = courseJson.GetProperty("isDigital").GetBoolean(),
                        Categories = courseJson.GetProperty("categories").EnumerateArray()
                            .Select(category => category.GetString()!).ToArray(),
                        Ingress = courseJson.GetProperty("ingress").GetString(),
                        StarRating = courseJson.GetProperty("starRating").GetDecimal(),
                        Reviews = courseJson.GetProperty("reviews").GetString(),
                        LikesInProcent = courseJson.GetProperty("likesInProcent").GetString(),
                        Likes = courseJson.GetProperty("likes").GetString(),
                        Hours = courseJson.GetProperty("hours").GetString(),
                        Authors = courseJson.GetProperty("authors").EnumerateArray()
                            .Select(author => new AuthorModel
                            {
                                Name = author.GetProperty("name").GetString()!,
                            }).ToList(),
                        Prices = new PricesModel
                        {
                            Currency = courseJson.GetProperty("prices").GetProperty("currency").GetString(),
                            Price = courseJson.GetProperty("prices").GetProperty("price").GetDecimal(),
                            Discount = courseJson.GetProperty("prices").GetProperty("discount").GetDecimal()
                        },
                        Content = new ContentModel
                        {
                            Description = courseJson.GetProperty("content").GetProperty("description").GetString(),
                            Includes = courseJson.GetProperty("content").GetProperty("includes").EnumerateArray()
                                .Select(include => include.GetString()!).ToArray(),
                            Learn = courseJson.GetProperty("content").GetProperty("learn").EnumerateArray()
                                .Select(learn => learn.GetString()!).ToArray(),
                            ProgramDetails = courseJson.GetProperty("content").GetProperty("programDetails").EnumerateArray()
                                .Select(detail => new ProgramDetailItemModel
                                {
                                    Id = detail.GetProperty("id").GetInt32(),
                                    Title = detail.GetProperty("title").GetString()!,
                                    Description = detail.GetProperty("description").GetString()
                                }).ToList()
                        }
                    };
            }
        }
    }
}
